<%= form_with(model: request, local: true) do |form| %>
<% if request.errors.any? %>

<div class="container">
  <div>
    <h4 style="color:red"><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h4>

    <ul>
      <% request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <form>
    <div>
      <%= form.label :title %><br/>
      <%= form.text_field :title %>
    </div><hr>

    <div class="form-group">
      <%= form.label :description %><br/>
      <%= form.text_area :description, rows:8, placeholder: "Please enter a short description, max. 300 characters" %>
    </div><hr>

    <div class="form-check">
      <%= form.radio_button :category, 'one time help', :checked => true %>
      <%= form.label :category_oneTime, 'one time help' %><img src="https://img.icons8.com/office/40/000000/marker.png">
    </div>
    <div class="form-check">
      <%= form.radio_button :category, 'material need', :checked => true %>
      <%= form.label :category_material, 'material need' %><img src="https://img.icons8.com/ultraviolet/40/000000/marker.png">
    </div><hr>

    <div class="form-group">
      <p>Please enter here the location of your request:</p>
      <%= form.label :longitude %><br/>
      <%= form.text_field :longitude %>
      <br/>
      <%= form.label :latitude %><br/>
      <%= form.text_field :latitude %>
      <p>Don't know the coordinates? Find them <a href="https://www.latlong.net/convert-address-to-lat-long.html" target="_blank">here</a></p>
    </div><hr>

    <div class="form-group">
      <%= form.label :status %>
      <p>Status is by default "Unfulfilled". Every user can have only one unfulfilled request at a time.</p>
      <%= form.select :status, ["Unfulfilled", "Fulfilled"] %>
    </div>

    <%= form.submit class: "btn" %>
  </form>

  <% end %>
</div>
