<body>
  <div class="map-responsive">
    <%= render ('requests/map') %>
  </div>


  <div id="request">
    <h2>Requests you created</h2>

    <div style="overflow-x:auto;">
      <table class="request-table table table-sm">
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @requests.each do |request| %>
            <% if request.user == current_user %>
            <td><h4><%= request.title %></h4></td>
            <td><div class="hover"><%= link_to 'Show', request %></div></td>
            <td><div class="hover"><%= link_to 'Edit', edit_request_path(request) %></div></td>
            <td><div class="hover"><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
            <% end %>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>

    <br>
    <a href="/requests/new" class="btn">New Request</a>
  </div>

</body>
