<p id="notice"><%= notice %></p>

<style media="screen">
  . table {
    padding: 10px;
}
</style>

<div class="container">
<div class="row">
  <div class="col-sm">

  </div>
  <div class="col-sm" >

  <%= render ('requests/map') %>


  </div>
</div>
</div>


<div id="requests">
  <h2>Requests</h2>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Type</th>
        <th></th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
      <tr>
        <td><h4><%= request.title %></h4></td>
        <td><%= request.category %></td>
        <td><%= request.status %></td>
        <td><%= request.description %></td>

        <td><%= link_to 'Show', request %></td>
        <% if request.user == current_user %>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <a href="/requests/new" class="smoothScroll btn btn-default">New Request</a>

</div>
