<style media="screen">
  . table {
    padding: 10px;
  }
</style>
<body>
  <div class="map-responsive">
    <%= render ('requests/map') %>
  </div>

  <section id="request">
    <div class="main-request">
      <h2>Requests</h2>

      <table class="table-request">
        <thead>
          <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @requests.each do |request| %>
          <tr>
            <td><h4><%= request.title %></h4></td>
            <td><%= request.category %></td>
            <td><%= request.description %></td>
            <td><%= request.status %></td>

            <td><div class="hover"><%= link_to 'Show', request %></div></td>
            <% if request.user == current_user %>
            <td><div class="hover"><%= link_to 'Edit', edit_request_path(request) %></div></td>
            <td><div class="hover"><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      <a href="/requests/new" class="smoothScroll btn btn-default">New Request</a>

    </div>
  </section>
</body>
