<section id="request">

  <% if current_user == @request.user %>

  <% if @request.conversations_count >= 5 && @request.updated_at > DateTime.now - (1000) %>
  <h4>You still didn't got help, now you can resubmit your request!</h4>
  <%= link_to 'Resubmit', edit_request_path(@request), class: "btn btn-warining" %>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3 style="padding-top:20px">Messages</h3>
      </div>
      <div class="col-lg-9">
        <% @request.conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id ? conversation.recipient_id :  conversation.sender_id %>
        <% recipient = User.find(conversation.sender_id) %><br/>
        <% else %>
        <% recipient = User.find(conversation.receiver_id) %>
        <% end %>
        <%= link_to conversation.sender.first_name, conversation_messages_path(conversation)%>
        <% end %>
        <% elsif @request.volunteered_by?(current_user) %>
        <h3>Status: </h3><p>You have already sent a message</p>
        <% else %>
        <h3>Status: </h3><p>To assist you must submit a message</p>
        <%= simple_form_for @request, url: volunteer_request_path do |f| %>
        <%= link_to "Send Message", conversations_path(request_id: @request.id, sender_id: current_user.id, recipient_id:   @request.user_id), method: :post, class: "btn" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3>Details:</h3>
      </div>
      <div class="col-lg-9">
        <a> Title:</a>
        <p style="display:inline"><%= @request.title %></p>
        <br />
        <a> Description:</a>
        <p style="display:inline"><%= @request.description %></p>
        <br />
        <a> Type:</a>
        <p style="display:inline"><%= @request.category %></p>
        <br />
        <a> Location:</a>
        <p style="display:inline"><%= @request.latitude %></p>
        <p style="display:inline"><%= @request.longitude %></p>
        <br />
        <a>How many offert to help: </a>
        <p style="display:inline"><%= @request.conversations_count %></p>
        <br />
        <a>Request created by:</a>
        <p style="display:inline"><%= @request.user.first_name %></p>
        <p style="display:inline">(email: <%= @request.user.email %>)</p>

        <div>
          <% if current_user == @request.user %>
          <div class="hover" style="display:inline"><%= link_to 'Edit', edit_request_path(@request) %> | </div>
          <div class="hover" style="display:inline"><%= link_to 'Destroy', request_path(@request), :confirm => "Are you sure?", :method => :delete %></div>
          <% end %>
          <div class="hover back" ><%= link_to 'Back', requests_path %></div>
        </div>
      </div>
    </div>
  </div>
</section>
